# TODO
TODO

# old files 
_old

# other
.DS_Store
*/.DS_Store
TODO
.vscode
__pycache__
*.tmp

# files
output/* 
!output/.gitkeep
images/* 
!images/.gitkeep
fastai
data
saved_model
tensorflow
scraper.ipynb

# images
images/*.jpg
images/*.jpeg
images/image

# model
run.ipynb
run.py