# TODO
TODO

# old files 
_old

# other
.DS_Store
*/.DS_Store
TODO
.vscode
__pycache__
*.tmp

# files
output/* 
!output/.gitkeep
data
scraper.ipynb

# images
images/*.jpg
images/*.jpeg
images/image
images/* 
!images/.gitkeep

# model
run.ipynb
run.py
fastai
saved_model
tensorflow
accuracy/*
correct.py

# automate
automate/windows/*
!automate/windows/.gitkeep
automate/macos/*
!automate/macos/.gitkeep