# TODO
TODO

# old files 
_old

# other
.DS_Store
*/.DS_Store
TODO
.vscode
__pycache__

# files
output/* 
!output/.gitkeep
images/* 
!images/.gitkeep
fastai
data
saved_model
tensorflow

# model
run.ipynb
run.py